/* --- Cores de Texto para Rótulos --- */

/* Cores de texto para rótulos vibrantes */
.colorRossoCorsa { color: #ff2800 !important; }
.colorBrightYellow { color: #cccc00 !important; } /* Amarelo mais escuro para contraste */
.colorLimeGreen { color: #00b300 !important; } /* Verde mais escuro para contraste */
.colorBrightBlue { color: #0000ff !important; }
.colorHotPink { color: #ff007f !important; }
.colorPureOrange { color: #ff8c00 !important; } /* Laranja mais escuro para contraste */

/* Novas cores inspiradas em Hogwarts e brasões */
.colorGryffindorRed { color: #740001 !important; }
.colorSlytherinGreen { color: #006400 !important; }
.colorHufflepuffYellow { color: #ffd700 !important; }
.colorRavenclawBlue { color: #000080 !important; }

/* --- Fundos de Cor para Rótulos e Seletores --- */

/* Fundo de cor de teste */
.backgroundDebugMagenta { background-color: #ffebf7 !important; }

/* Fundos para novos rótulos vibrantes (e seletor) */
.backgroundRossoCorsa { background-color: #ffeae5 !important; }
.backgroundBrightYellow { background-color: #fffde5 !important; }
.backgroundLimeGreen { background-color: #e5ffe5 !important; }
